<div class="recipe-list">
      <div>
        <h2><%= recipe.name %></h2>
        <p>   <% if current_user.id  == recipe.user.id%> 
             <%= button_to "Remove", recipe, method: :delete, class: "btn-link" %>
             <%end%>
        </p>
      </div>
      <div class="description">
        <%= link_to recipe.description, recipe %>
      </div>
</div>

