<div class="recipe-list">
      <div>
        <h2><%= link_to recipe.name,recipe ,class:"recipe-name"%></h2>
        <p>   <% if current_user.id  == recipe.user.id%> 
             <%= button_to "Remove", recipe, method: :delete, class: "destroy-button" %>
             <%end%>
        </p>
      </div>
      <div class="description">
        <%=  recipe.description %>
      </div>
</div>

