
<div class="food-container">
<a href="foods/new">Add Food</a>
<div class="food-table">

 <table>
  <tr>
    <th>Food</th>
    <th>Measurement Unit</th>
    <th>Unit Price</th>
    <th>Actions</th>
  </tr>
  <% @foods.each do |food|%>
  <tr>
   <td><%=food.name%></td>
   <td><%=food.measurement_unit%></td>
   <td><%=food.price%></td>
   <td><%= render partial: 'shared/delete_button', locals: { item: food, delete_url: food_path(food.id) } %></td>
  </tr>
<%end%>
</table>


</div>
</div>