.new-user {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Allows vertical resizing of text areas */
}

/* Style for the form submit button */
form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #0056b3;
}

/* recipe card */

/* .recipe_card {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
} */

/* form */
.form_cont {
  display: flex;
  justify-content: center;
}

/* edit */

/* In your CSS file */
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Recipe details page */

/* Center the card */
.recipe-card-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  border: 2px solid black;
}

/* Style the card container */
.recipe-card {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style the header within the card */
.recipe-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Style the paragraphs within the card */
.recipe-card p {
  margin: 8px 0;
}

/* Style the links within the card */
.btn-link {
  color: rgb(89, 153, 179);
  text-decoration: none;
  margin-right: 10px;
  border: none;
}

.btn-link:hover {
  color: green;
}

.recipe_lk {
  color: rgb(13, 13, 75);
  text-decoration: none;
}

.recipe_lk:hover {
  color: green;
}

.button {
  border: none;
}

.btn-link a {
  color: rgb(89, 153, 179);
  text-decoration: none;
  margin-right: 10px;
  border: none;
  background-color: #fff;
}
